body {
    font-family: '微軟正黑體';
}

.font-style {
    font-family: '微軟正黑體' !important;
}

::-webkit-scrollbar {
    width: 0;
}

.cycuvote-theme {
    background-color: #2E7866 !important;
}

.cycuvote-menu {
    height: 50px;
}

.cycuvote-container {
    margin-top: 70px !important;
}

.pointer {
    cursor: pointer;
}

.project-content-text {
    font-size: 18px !important;
    line-height: 40px;
}

.margin-80 {
    margin-top: 80px;
}