body {
    font-family: '微軟正黑體' !important;
}


/* 後台管理最上面選單 */

.navbar {
    height: 50px;
}

.font-style {
    font-family: '微軟正黑體' !important;
}

::-webkit-scrollbar {
    width: 0;
}

.cycuvote-theme {
    background-color: #2E7866 !important;
}

.cycuvote-menu {
    height: 50px;
}

.cycuvote-container {
    margin-top: 60px !important;
}

.pointer {
    cursor: pointer;
}

.project-content-text {
    font-size: 18px !important;
    line-height: 40px;
}

.margin-80 {
    margin-top: 80px;
}

.margin-20 {
    margin-top: 40px !important;
}

.ui .list .item {
    cursor: pointer;
}

[v-cloak] {
    display: none;
}