@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:300&display=swap');

body {
	font-family: 'Noto Sans TC', sans-serif !important;
	background-image: url('https://i.imgur.com/lLrUfiq.png') !important;
}

.navbar {
	height: 50px
}

.font-family, .button, h3 {
	font-family: 'Noto Sans TC', sans-serif !important;
}

::-webkit-scrollbar {
	width: 0
}

.cycuvote-theme {
	background-color: #2e7866!important
}

.cycuvote-menu {
	height: 50px
}

.cycuvote-container {
	margin-top: 60px!important
}

.pointer {
	cursor: pointer
}

.project-content-text {
	font-size: 18px!important;
	line-height: 40px
}

.margin-80 {
	margin-top: 80px
}

.margin-20 {
	margin-top: 40px!important
}

.ui .list .item {
	cursor: pointer
}

.margin-navbar {
	margin-top: 20px
}

.content-v-img {
	min-height: 100%
}

.hover-pointer {
	cursor: pointer
}

[v-cloak] {
	display: none
}

.facebook {
	background-color: #3b5998!important;
	color: #e9eaed!important
}

.focus {
    cursor: pointer;
}

.banner {
	background-image: url('https://i.imgur.com/wSw1qXW.png') !important;
	color: #E9EAED !important;
}

.light {
	color: #E9EAED !important;
}

.primary {
	background-color: #2C355D !important;
	border-color: #2C355D !important;
}